My fist panda project about eBay used car

In [34]:
import pandas,numpy

In [35]:
autos=pandas.read_csv("autos.csv", encoding="Latin-1")

In [36]:
print(autos.info())
print(autos.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None
           dateCrawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...

   seller offerType   price   abtest vehicleType  yearOfRegistration  \
0  privat   Angebot  $5,000  control         bus                2004
1  privat   Angebot  $8,500  control   limousine                1997
2  privat   Angebot  $8,990     test   limousine                2009
3  privat   Angebot  $4,350  control  kleinwagen                2007
4  privat   Angebot  $1,350     test       kombi                2003

     gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0    manuell      158  andere  150,000km                    3      lpg
1  automatik      286     7er  150,000km                    6   benzin
2    manuell      102    golf   70,000km                    7   benzin
3  automatik       71  fortwo   70,000km                    6   benzin
4    manuell        0   focus  150,000km                    7   benzin

        brand notRepairedDamage          dateCreated  nrOfPictures  \
0     peugeot              nein  2016-03-26 00:00:00             0
1         bmw              nein  2016-04-04 00:00:00             0
2  volkswagen              nein  2016-03-26 00:00:00             0
3       smart              nein  2016-03-12 00:00:00             0
4        ford              nein  2016-04-01 00:00:00             0

   postalCode             lastSeen
0       79588  2016-04-06 06:45:54
1       71034  2016-04-06 14:45:08
2       35394  2016-04-06 20:15:37
3       33729  2016-03-15 03:16:28
4       39218  2016-04-01 14:38:50

In [37]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [38]:
autos.columns=['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehiclec_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
print(autos.columns)
print(autos.head())

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehiclec_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')
          date_crawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...

   seller offer_type   price   abtest vehiclec_type  registration_year  \
0  privat    Angebot  $5,000  control           bus               2004
1  privat    Angebot  $8,500  control     limousine               1997
2  privat    Angebot  $8,990     test     limousine               2009
3  privat    Angebot  $4,350  control    kleinwagen               2007
4  privat    Angebot  $1,350     test         kombi               2003

     gearbox  power_PS   model   odometer  registration_month fuel_type  \
0    manuell       158  andere  150,000km                   3       lpg
1  automatik       286     7er  150,000km                   6    benzin
2    manuell       102    golf   70,000km                   7    benzin
3  automatik        71  fortwo   70,000km                   6    benzin
4    manuell         0   focus  150,000km                   7    benzin

        brand unrepaired_damage           ad_created  nr_of_pictures  \
0     peugeot              nein  2016-03-26 00:00:00               0
1         bmw              nein  2016-04-04 00:00:00               0
2  volkswagen              nein  2016-03-26 00:00:00               0
3       smart              nein  2016-03-12 00:00:00               0
4        ford              nein  2016-04-01 00:00:00               0

   postal_code            last_seen
0        79588  2016-04-06 06:45:54
1        71034  2016-04-06 14:45:08
2        35394  2016-04-06 20:15:37
3        33729  2016-03-15 03:16:28
4        39218  2016-04-01 14:38:50

Data cleaning: price and kilometer into numeric values

In [39]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehiclec_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-08 10:40:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

seller, offer_type, abtest, gearbox, unrepaired_damage only have 2 values
postal_code has decimal points...

In [40]:
autos["odometer_km"]=autos["odometer"]

autos["odometer_km"] = (autos["odometer_km"]
                        .str.replace('km','')
                        .str.replace(',','')
                        .astype(float))

autos["price"] = (autos["price"]
                  .str.replace('$','')
                  .str.replace(',','')
                  .astype(float))
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehiclec_type,registration_year,gearbox,power_PS,...,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen,odometer_km
count,50000,50000,50000,50000,5.000000e+04,50000,44905,50000.000000,47320,50000.000000,...,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000,50000.000000
unique,48213,38754,2,2,NaN,2,8,NaN,2,NaN,...,13,NaN,7,40,2,76,NaN,NaN,39481,NaN
top,2016-03-08 10:40:35,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,...,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27,NaN
freq,3,78,49999,49999,NaN,25756,12859,NaN,36993,NaN,...,32424,NaN,30107,10687,35232,1946,NaN,NaN,8,NaN
mean,NaN,NaN,NaN,NaN,9.840044e+03,NaN,NaN,2005.073280,NaN,116.355920,...,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN,125732.700000
std,NaN,NaN,NaN,NaN,4.811044e+05,NaN,NaN,105.712813,NaN,209.216627,...,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN,40042.211706
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,...,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN,5000.000000
25%,NaN,NaN,NaN,NaN,1.100000e+03,NaN,NaN,1999.000000,NaN,70.000000,...,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN,125000.000000
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,...,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN,150000.000000
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,...,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN,150000.000000
max,NaN,NaN,NaN,NaN,1.000000e+08,NaN,NaN,9999.000000,NaN,17700.000000,...,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN,150000.000000

In [41]:
autos["price"].unique().shape
autos["price"].head(100).value_counts()
autos["price"].sort_values(ascending=True).head(100)
autos=autos[autos["price"].between(100,100000)]
autos["price"].describe()

count    48185.000000
mean      5796.099741
std       7525.532405
min        100.000000
25%       1250.000000
50%       3000.000000
75%       7499.000000
max      99900.000000
Name: price, dtype: float64

In [42]:
autos["odometer_km"].unique().shape
autos["odometer_km"].head(200).value_counts()
autos["odometer_km"].sort_values(ascending=True)
autos["odometer_km"].describe()
autos["odometer_km"].value_counts()

150000.0    31209
125000.0     5035
100000.0     2099
90000.0      1733
80000.0      1411
70000.0      1214
60000.0      1151
50000.0      1007
40000.0       813
30000.0       771
5000.0        751
20000.0       749
10000.0       242
Name: odometer_km, dtype: int64

Data cleaning: date

In [43]:
from datetime import datetime
#2016-03-30 19:48:02
autos["date_crawled"].describe()
autos["last_seen"].describe()
autos["ad_created"].describe()
autos["ad_created"].value_counts(normalize=True, dropna=False).head(5)
autos["ad_created"].str[:10].sort_values(ascending=True)

#autos["date_crawled_datetime"]=pandas.to_datetime((autos["date_crawled_datetime"], format="%Y%m%d")
#autos["date_crawled_datetime"]= pandas.to_datetime((autos["date_crawled"].str[:10].str.replace('-','')), format="%Y%m%d")
autos["date_crawled_datetime"]= autos["date_crawled"].str[:10].str.replace('-','')
autos["date_crawled_datetime"].astype(int)

0        20160326
1        20160404
2        20160326
3        20160312
4        20160401
5        20160321
6        20160320
7        20160316
8        20160322
9        20160316
10       20160315
11       20160316
12       20160331
13       20160323
14       20160323
15       20160401
16       20160316
17       20160329
18       20160326
19       20160317
20       20160305
21       20160306
22       20160328
23       20160310
24       20160403
26       20160403
28       20160319
29       20160402
31       20160314
32       20160320
           ...
49968    20160401
49969    20160317
49970    20160321
49971    20160329
49972    20160326
49973    20160327
49975    20160327
49976    20160319
49977    20160331
49978    20160404
49979    20160320
49980    20160312
49981    20160315
49982    20160329
49983    20160306
49985    20160402
49986    20160404
49987    20160322
49988    20160328
49989    20160311
49990    20160321
49991    20160306
49992    20160310
49993    20160315
49994    20160322
49995    20160327
49996    20160328
49997    20160402
49998    20160308
49999    20160314
Name: date_crawled_datetime, Length: 48185, dtype: int64

Remove observations not in the range of 1900 - 2016

In [45]:
autos["registration_year"].describe()
autos["registration_year"].sort_values(ascending=True)
autos=autos[autos["registration_year"].between(1900,2016)]
autos["registration_year"].describe()

count    46313.000000
mean      2002.937750
std          7.118096
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

Explore top car brands vs. average price and mileage

In [46]:
autos["brand"].unique()
top20=autos["brand"].value_counts(normalize=True, dropna=False).head(20)
top20

volkswagen        0.211582
bmw               0.110207
opel              0.107335
mercedes_benz     0.096668
audi              0.086822
ford              0.069872
renault           0.047114
peugeot           0.029884
fiat              0.025630
seat              0.018267
skoda             0.016432
nissan            0.015352
mazda             0.015244
smart             0.014208
citroen           0.014057
toyota            0.012804
hyundai           0.010019
sonstige_autos    0.009436
volvo             0.009134
mini              0.008810
Name: brand, dtype: float64

In [47]:
carprice={}
for brand in top20.index:
    price=autos[autos["brand"]==brand]['price'].mean()
    carprice[brand]=price
    
print(carprice)

{'sonstige_autos': 10943.649885583523, 'skoda': 6409.609724047306, 'opel': 3005.4960772480385, 'toyota': 5167.091062394604, 'smart': 3596.40273556231, 'ford': 3740.2639060568604, 'renault': 2496.070577451879, 'citroen': 3796.26267281106, 'peugeot': 3113.860549132948, 'seat': 4433.419621749409, 'mercedes_benz': 8573.484922939468, 'mini': 10639.450980392157, 'fiat': 2836.8736310025274, 'hyundai': 5411.075431034483, 'nissan': 4756.659634317863, 'audi': 9339.529967669734, 'volkswagen': 5436.950096948668, 'mazda': 4129.774787535411, 'volvo': 4993.208037825059, 'bmw': 8249.652429467085}

In [48]:
carmileage={}
for brand in top20.index:
    mile=autos[autos["brand"]==brand]['odometer_km'].mean()
    carmileage[brand]=mile
    
print(carmileage)

{'sonstige_autos': 91109.83981693364, 'skoda': 110906.70170827858, 'opel': 129384.42969221485, 'toyota': 115944.35075885328, 'smart': 99734.0425531915, 'ford': 124300.06180469715, 'renault': 128281.3932172319, 'citroen': 119554.53149001536, 'peugeot': 127127.8901734104, 'seat': 121536.64302600473, 'mercedes_benz': 131088.89881617154, 'mini': 88308.82352941176, 'fiat': 116950.29486099411, 'hyundai': 106885.77586206897, 'nissan': 118326.30098452883, 'audi': 129276.29942800298, 'volkswagen': 128799.87753852434, 'mazda': 124553.82436260623, 'volvo': 138581.56028368796, 'bmw': 132756.66144200627}

In [49]:
bmp_series = pandas.Series(carprice)
bmm_series = pandas.Series(carmileage)
df_price_mil = pandas.DataFrame(bmp_series, columns=['mean_price'])
df_price_mil['mean_mileage']=pandas.Series(carmileage)
print(df_price_mil)

                  mean_price   mean_mileage
audi             9339.529968  129276.299428
bmw              8249.652429  132756.661442
citroen          3796.262673  119554.531490
fiat             2836.873631  116950.294861
ford             3740.263906  124300.061805
hyundai          5411.075431  106885.775862
mazda            4129.774788  124553.824363
mercedes_benz    8573.484923  131088.898816
mini            10639.450980   88308.823529
nissan           4756.659634  118326.300985
opel             3005.496077  129384.429692
peugeot          3113.860549  127127.890173
renault          2496.070577  128281.393217
seat             4433.419622  121536.643026
skoda            6409.609724  110906.701708
smart            3596.402736   99734.042553
sonstige_autos  10943.649886   91109.839817
toyota           5167.091062  115944.350759
volkswagen       5436.950097  128799.877539
volvo            4993.208038  138581.560284

Find out top car models

In [80]:
autos.describe(include='all')
carname = pandas.Series(autos["name"])
autos["car_model"] =autos["name"] + "-" + autos["model"]
autos["car_model"].value_counts()
#autos["model"].value_counts()
#autos["name"].value_counts()

Volkswagen_Golf_1.4-golf                                                    75
BMW_316i-3er                                                                75
Ford_Fiesta-fiesta                                                          73
BMW_318i-3er                                                                72
BMW_320i-3er                                                                71
Volkswagen_Polo-polo                                                        70
Opel_Corsa-corsa                                                            67
Renault_Twingo-twingo                                                       58
Volkswagen_Golf-golf                                                        57
Opel_Corsa_1.2_16V-corsa                                                    56
BMW_116i-1er                                                                53
Volkswagen_Polo_1.2-polo                                                    48
Volkswagen_Golf_1.6-golf                                                    47
Ford_Focus-focus                                                            44
Opel_Corsa_B-corsa                                                          43
Opel_Corsa_1.0_12V-corsa                                                    40
Volkswagen_Passat_Variant_1.9_TDI-passat                                    39
BMW_320d_DPF_Touring-3er                                                    37
BMW_520i-5er                                                                37
Peugeot_206-2_reihe                                                         35
Opel_Astra-astra                                                            35
Audi_A4_Avant_2.0_TDI_DPF-a4                                                34
Renault_Twingo_1.2-twingo                                                   33
Opel_Astra_1.6-astra                                                        33
Volkswagen_Golf_1.9_TDI-golf                                                31
Ford_Mondeo-mondeo                                                          31
Ford_Ka-ka                                                                  30
Volkswagen_Lupo_1.0-lupo                                                    29
Ford_Fiesta_1.3-fiesta                                                      29
Opel_Corsa_C-corsa                                                          28
                                                                            ..
Verkaufe_Porsche_924-andere                                                  1
Citroën_Berlingo_1.6_HDi_110_FAP_Mullewapp-berlingo                          1
Toyota_RAV_4_2.2_D_4D_4x4_Automatik_Edition_S-rav                            1
Audi_A4_Avant_3.0_TDI_quattro_"_2_Jahre_Tuev/Au__Vollausstattung"-a4         1
Mercedes_Benz_190_E_2.3_16-andere                                            1
Leasinguebernahme_BMW_520d_Touring_M_Sportpaket-5er                          1
A_150_klima-a_klasse                                                         1
VW_Polo_9N_Klima/Alufelgen_TÜV_9/2017-polo                                   1
PEUGEOT_206_CC_Cabrio__scheckheftgepflegt-andere                             1
Ford_Focus_1.6_Eco_Boost-focus                                               1
Mercedes_Benz_C_200_CDI_DPF_Automatik_Avantgarde_Optik___Top-c_klasse        1
Verkaufe_einen_Mazda_Premacy-andere                                          1
VW_Passat_2_0_TDI_170_PS_6_Gang_Schaltgetriebe__Schiebedach_AHK-passat       1
Volkswagen_Passat_3c_CC_2.0_TDI_DSG-passat                                   1
BMW_E36_316i_Coupe-3er                                                       1
Opel_Zafira_7_Sitzer_mit_Heckschaden___BJ_2000_TÜV!_Laeuft_super!-zafira     1
VW_polo_n1-polo                                                              1
MB_230E_Oldtimer_mit_H_Kennzeichen-e_klasse                                  1
Opel_Astra_Diesel_TÜV_bis_2017_*Klimaautomatik__*Tempomat*-astra             1
Passat_Variant_35_I-passat                                                   1
Opel_Vectra_1.8__GTS_Klima_Euro4_So/Wi_HU_10.16-vectra                       1
Mercedes_Benz_A_150_Autotronic_Classic-a_klasse                              1
BMW_M6_Cabrio_S85_V10_Vmax_330_km/h-m_reihe                                  1
Polo_6n2_defekter_Nockenwellensensor-polo                                    1
Audi_A4_2.5_TDI_quattro_s_line_paket-a4                                      1
BMW_325xi_Touring-3er                                                        1
Mercedes_Benz_V220_CDI_Fashion-vito                                          1
Peugeot_403_Pick_up_Top_resturiert-4_reihe                                   1
Mercedes_c180_kombi-c_klasse                                                 1
Alfa_Romeo_156_Sportwagon_1.9_JTD._Bastlerfahrzeug-156                       1
Name: car_model, Length: 33752, dtype: int64

Odometer vs. Price

In [57]:
autos["odometer_km"].value_counts()
odo=autos["odometer_km"].unique()
numpy.sort(odo)
odo[::-1].sort()
odo.sort()
print(odo)

[  5000.  10000.  20000.  30000.  40000.  50000.  60000.  70000.  80000.
  90000. 100000. 125000. 150000.]

In [81]:
price_odo={}

for i in odo:
    price=autos[autos["odometer_km"]==i]['price'].mean()
    price_odo[i]=price
    
print(price_odo)   
price_odo_series = pandas.Series(price_odo)
price_odo_series

{40000.0: 15324.637735849057, 90000.0: 8470.087320574163, 5000.0: 7132.773504273504, 80000.0: 9673.630196936543, 30000.0: 15734.814913448736, 10000.0: 19604.365217391303, 50000.0: 13568.19028340081, 150000.0: 3778.5977849901296, 20000.0: 16704.047879616963, 125000.0: 6189.368279569892, 60000.0: 12131.023131672599, 70000.0: 10954.826013513513, 100000.0: 7987.134671890303}

5000.0       7132.773504
10000.0     19604.365217
20000.0     16704.047880
30000.0     15734.814913
40000.0     15324.637736
50000.0     13568.190283
60000.0     12131.023132
70000.0     10954.826014
80000.0      9673.630197
90000.0      8470.087321
100000.0     7987.134672
125000.0     6189.368280
150000.0     3778.597785
dtype: float64

How much cheaper are cars with damage than their non-damaged counterparts?

In [89]:
autos=pandas.read_csv("autos.csv", encoding="Latin-1")
autos["price"] = (autos["price"]
                  .str.replace('$','')
                  .str.replace(',','')
                  .astype(float))
autos.describe(include='all')
autos["notRepairedDamage"].unique()
autos["notRepairedDamage"].value_counts(dropna=False)

nein    35232
NaN      9829
ja       4939
Name: notRepairedDamage, dtype: int64

In [91]:
autos.groupby(["notRepairedDamage"])['price'].mean()

notRepairedDamage
ja      2311.889249
nein    8470.595794
Name: price, dtype: float64